In [25]:
import sqlite3
book=sqlite3.connect("bookstore.db")
curbook=book.cursor()
#curbook.execute('''create table books (book_id integer  primary key autoincrement , book_name text(20), author text(20), price integer);''')

while True:
    x=input("want to enter data yes/no: ")
    if x=='yes':
        book_id=int(input("Enter book id: "))
        book_name=input("Enter book name: ")
        author=input("Enter author name: ")
        price=input("Enter price of book: ")
        curbook.execute("insert into books (book_id,book_name,author, price) values(?,?,?,?);",(book_id,book_name,author, price))
        book.commit()
        print("data add successfully")

    else:
        break

want to enter data yes/no: yes
Enter book id: 4
Enter book name: DSA
Enter author name: Geeksforgeeks
Enter price of book: 398
data add successfully
want to enter data yes/no: yes
Enter book id: 5
Enter book name: Digital electronics
Enter author name: Tutorialspoint
Enter price of book: 500
data add successfully
want to enter data yes/no: yes
Enter book id: 6
Enter book name: C++
Enter author name: Abdul bari
Enter price of book: 400
data add successfully
want to enter data yes/no: yes
Enter book id: 7
Enter book name: Introduction to Data Science
Enter author name: Code Basics
Enter price of book: 100
data add successfully
want to enter data yes/no: yes
Enter book id: 8
Enter book name: Internet of things
Enter author name: Cisco
Enter price of book: 125
data add successfully
want to enter data yes/no: yes
Enter book id: 9
Enter book name: Machine Learning
Enter author name: Codebasics
Enter price of book: 400
data add successfully
want to enter data yes/no: yes
Enter book id: 10
Enter book name: Martian
Enter author name: Christopher nolan
Enter price of book: 700
data add successfully
want to enter data yes/no: no

In [29]:
import sqlite3
book=sqlite3.connect("bookstore.db")
curbook=book.cursor()
total_price=0
while True:
    bt=input("Book Title:  ")
    sql="select *from books where book_name='"+bt+"';"
    curbook.execute(sql)
    record=curbook.fetchone()
    print(record)
    n=int(input("No. of copies: "))
    total_price=total_price+record[3]*n
    add_book=input("Add more books? Y/N ")
    if add_book=='N':
        break
print("Total Cost {}".format(total_price))
n=input("enter to exit")
book.close()

Book Title:  Martian
(10, 'Martian', 'Christopher nolan', 700)
No. of copies: 2
Add more books? Y/N Y
Book Title:  Digital electronics
(5, 'Digital electronics', 'Tutorialspoint', 500)
No. of copies: 1
Add more books? Y/N Y
Book Title:  Machine Learning
(9, 'Machine Learning', 'Codebasics', 400)
No. of copies: 2
Add more books? Y/N N
Total Cost 2700
enter to exit